/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}


.list-section {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: #444;
    font-size: 1.5em;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 1.1em;
    gap: 30px
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

.emptyMessage {
    color: red;
    font-size: 1.5em;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }
}