/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #2c3e50;
    line-height: 1.6;
}

/* Header */
header {
    text-align: center;
    background-color: #3498db;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    margin: 10px 0;
    font-size: 1rem;
}

/* Layout */
main {
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
    padding: 20px;
}

.categories-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;

}

/* Categories List */
.categories-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 15px;
    /* Spacing between items */
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-list li {
    font-size: 1rem;
}

.categories-list a {
    text-decoration: none;
    color: #3498db;
    /* Blue theme for links */
    font-weight: bold;
}

.categories-list a:hover {
    text-decoration: underline;
}


.items-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

/* Lists */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}